<style>
@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');
</style>

body{
  background-color:Yellow;

}
#title
{
  font-family: 'Sigmar One', cursive;
  margin:auto;
  position:relative;
  width:50%;
  background-color:Red;
  text-align:center;
}
#teamnames
{
  position:relative;
  width:50%;
  font-size:40px;
  margin:auto;
  text-align:center;
  background-color:pink;
}
#matchweek
{
  position:relative;
  font-size:40px;
  width:50%;
  margin:auto;
  text-align:center;
  background-color:pink;
}
#logs
{
  position:relative;
  width:50%;
  font-size:40px;
  margin:auto;
  text-align:center;
  background-color:pink;
}
#submit
{
  position:relative;
  width:50%;
  margin:auto;
  text-align:center;

}
